@model ForumIndexViewModel

<h1 class="text-center">Forum</h1>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 forum-write">
        <form method="post" asp-action="AddMessage">
            <textarea asp-for="Message.Text" class="form-control resize-vertical textarea-forum forum-text custom-scrolbar" placeholder="Schrijf een bericht..."></textarea>
            <button type="submit" class="btn btn-ah float-right">Plaats <span class="glyphicon glyphicon-comment"></span> </button>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>

<div id="AllMessages" class="row margin-top30">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        @foreach (var message in @Model.Messages)
        {
            <div id="@message.Id" class="row forum-read margin-top50">
                <div class="col-md-2">
                    <img class="img-person-forum" src="~/images/UserImages/@message.Account.Image"/>
                </div>
                <div class="col-md-9">
                    <h4>@message.Account.Name</h4>
                    @*<p>14-02-2018 20:00</p>*@
                </div>
                <div class="col-md-1">
                    @if (Convert.ToInt32(User.FindFirst("Id").Value) == message.UserId)
                    {
                        <form method="post" asp-action="DeleteMessage">
                            <input hidden asp-for="MessageId" value="@message.Id"/>
                            <button class="float-right btn-ah-nobackground"><span class="glyphicon glyphicon-trash"></span></button>
                        </form>
                    }
                </div>
                <textarea class="form-control resize-vertical textarea-forum forum-text custom-scrolbar" readonly>@message.Text</textarea>

                <button class="btn btn-ah float-right" onclick="NewReply(@message.Id)">Reageer <span class="glyphicon glyphicon-chevron-down"></span> </button>

                <div id="NewReply_@message.Id"></div>
                <div class="replies margin-top60">
                    @foreach (var reply in @message.Replies)
                    {
                        <div class="row margin-top30 padding-left-right10">
                        <div class="col-md-2">
                            <img class="img-person-forum" src="~/images/UserImages/@reply.Account.Image"/>

                            <div class="size-forum-name">@reply.Account.Name</div>
                            @*<div class="size-forum-date">14-02-2018 <br/> 20:00</div>*@
                        </div>
                            <div class="col-md-9">
                                <textarea class="form-control resize-vertical textarea-forum-reply forum-text custom-scrolbar" readonly>@reply.Text</textarea>
                            </div>
                            <div class="col-md-1">
                                @if (Convert.ToInt32(User.FindFirst("Id").Value) == reply.UserId)
                                {
                                    <form method="post" asp-action="DeleteReply">
                                        <input hidden asp-for="ReplyId" value="@reply.Id"/>
                                        <button class="float-right btn-ah-nobackground"><span class="glyphicon glyphicon-trash"></span></button>
                                    </form>
                                }
                            </div>
                        </div>
                    }

                </div>
            </div>
        }

    </div>
    <div class="col-md-2"></div>
</div>

<script>
    function NewReply(messageId) {
        var id = messageId.toString();
        var divId = "#NewReply_" + id;
        $.ajax({
            type: "GET",
            url: "/Forum/AddReply",
            data: { messageId: messageId },
            dataType: "html",
            success: function (data) {
                $(divId).html(data);
            },
            error: function () {
                alert("Something went wrong");
            }
        });
    };
</script>