@model ListOfAbsencesViewModel

<ul class="list-group">
    @foreach (var item in Model.LeaveOfAbsences)
    {
        <li class="list-group-item ah-light-background border-ah">
            <h5 class="list-group-item-heading">@item.Shift.Account.Name ~ @item.Shift.Department.Name afdeling</h5>
            @item.Shift.Date.ToString("dd/MM/yyyy")
            @item.Shift.StartTime.ToString(@"hh\:mm") - @item.Shift.EndTime.ToString(@"hh\:mm")
            
            <form method="post" asp-action="AcceptLeaveOfAbsenceFromList">
                <input hidden asp-for="LeaveOfAbsenceId" value="@item.Id" />
                <button class="btn btn-green btn-circle block-right margin-top-20 margin-left-right5" title="Accepteer vervangingsaanvraag"><span class="glyphicon glyphicon-ok"></span></button>
            </form>

            <form method="post" asp-action="HideLeaveOfAbsence">
                <input hidden asp-for="LeaveOfAbsenceId" value="@item.Id"/>
                <button type="submit" class="btn btn-gray btn-circle block-right margin-top-20 margin-left-right5" title="Verberg vervangingsaanvraag"><span class="glyphicon glyphicon-ban-circle"></span></button>
            </form>
        </li>
    }
</ul>