@model ShowScheduleViewModel

<div class="row">
<table class="center">
    <tr>
        <th class="padding-left-right10">Maandag <i>@Model.Days[0].Date.ToString("dd/MM/yyyy")</i></th>
        <th class="padding-left-right10">Dinsdag <i>@Model.Days[1].Date.ToString("dd/MM/yyyy")</i></th>
        <th class="padding-left-right10">Woensdag <i> @Model.Days[2].Date.ToString("dd/MM/yyyy")</i></th>
        <th class="padding-left-right10">Donderdag <i>@Model.Days[3].Date.ToString("dd/MM/yyyy")</i></th>
        <th class="padding-left-right10">Vrijdag <i>@Model.Days[4].Date.ToString("dd/MM/yyyy")</i></th>
        <th class="padding-left-right10">Zaterdag <i>@Model.Days[5].Date.ToString("dd/MM/yyyy")</i></th>
        <th class="padding-left-right10">Zondag <i>@Model.Days[6].Date.ToString("dd/MM/yyyy")</i></th>
    </tr>
    <tr>
        @for (int i = 0; i < 7; i++) //Dagen in de week
        {
            <td class="padding-left-right10">
                @for (int j = 0; j < 1; j++) //1 moet counter worden aan de hand van shifts al meerdere shifts op een dag kunnen
                {
                    
                    <div>
                        @if (@Model.Days[i].Shifts.Count > 0)
                        {
                            if (Model.Days[i].Shifts[j].StartTime != Model.Days[i].Shifts[j].EndTime)
                            {
                                <div class="show-shift-part">
                                <p>
                                    Van @Model.Days[i].Shifts[j].StartTime.ToString(@"hh\:mm") <br/>
                                    tot @Model.Days[i].Shifts[j].EndTime.ToString(@"hh\:mm") <br/>
                                    Afdeling: @Model.Days[i].Shifts[j].Department.Name <button title="Vervanging aanvragen" class="btn btn-ah btn-absolute-right" onclick="LeaveOfAbsence(@Model.Days[i].Shifts[j].Id, @Model.Days[i].Shifts[j].UserId)"><span class="glyphicon glyphicon-transfer"></span></button><br/>
                                    
                                </p>
                                </div>
                            }
                            else
                            {
                                <p></p>
                            }
                        }
                    </div>
                }
            </td>
        }
    </tr>
</table>
</div>


<div class="row margin-top50" id="LOA"></div>

<script>
    function LeaveOfAbsence(shiftId, userId) {
        $.ajax({
            type: "POST",
            url: "/Shift/LeaveOfAbsence",
            data: { shiftId: shiftId, userId: userId },
            dataType: "html",
            success: function(data) {
                $('#LOA').html(data);
            },
            error: function() {
                alert("Something went wrong");
            }
        });
    }
</script>